<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static "IOT/reset_password.css" %}">
  </head>
  <body>
    <form action="" method="POST">
      {{form}} {% csrf_token %}
      <button>Submit</button>
    </form>
    {% if errors %}
    <ul>
      {% for field, field_errors in errors.items %}
      <li>
        {{ field }}:
        <ul>
          <li>{{ field_errors }}</li>
        </ul>
      </li>
      {% endfor %}
    </ul>

    {% endif %}
  </body>
</html>
